{% extends "base.html" %}
{% load staticfiles %}
{% block body %}



{% if request.user.is_anonymous %}
    Log in to your account
{% else %}
<table>

<div class="col-md-8 col-md-offset-2 well">
<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr>
        <th class="active">
            Name
        </th>
        <th class="active">
            Description
        </th>
        <th class="active">
            Manufacturer
        </th>
        <th class="active">
            Price
        </th>
        <th class="active">
            more
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td class="active"> {{ item.name }} </td>
            <td class="active"> {{ item.description }}</td>
            <td class="active"> {{ item.manufacturer }}</td>
            <td class="active"> {{ item.price }}</td>
            <td class="active"> <a href="{% url 'chocolate_info' item.id %}">Info</a> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
    <div class="col-md-offset-5" style="padding-top: 10%;">
       <p><a href="{% url 'add_chocolate' %}">
           <button class="btn btn-primary">Add a chocolate</button>
       </a>
       </p>
   </div>
{%  endif %}



{% endblock body %}